*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: cursive;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #e6bde5; */
    background-image: url("wallpaperflare.com_wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #cc2e1c;
    font-size: 5em;
}